<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Autor: José María Rupérez Poza</p>
    <img src="/images/MiFoto.png" WIDTH=165 HEIGHT=170>
  </body>
</html>
